img {
    border: 10px solid black;
}

P {
    font-size: 20px;
}

.footer
{
    line-height: 5px;
}

center {
    background-color: #809fff;
}

html
{
    background: linear-gradient(to bottom right, #336699 43%, #99ccff 100%);
}